* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
table td,
th,
tr {
  border: 2px solid green;
  text-align: left;
  padding: 10px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

/* banking site design  */
